<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-commerce</title>
<link rel="stylesheet" href="static/ecommercestyle.css">
</head>

<body>
    <header>
        <div class="nav">E-commerce Website</div>
        <div class="bars"><a href="/">Home</a></div>
        <div class="bars"><a href="/features">Features</a></div>
        <div class="bars"><a href="/teams">Our team</a></div>
        <!-- <div class="bars"><a href="signup.html">Signup</a></div> -->
        </div>
    </header>
    <main>
        <div class="main"><pre>
    Protect Your 
    Online
    Identity<div class="side">
    Stay safe from credit card fraud and email 
    spam with our advanced security features and
    strong password suggestions.</div></pre>

        </div>

        <div class="textbox">Advanced Security Features <div class="text">
                <pre>Protect your online identity with our cutting-
    edge security features</pre>
            </div>
        </div>

        <div class="card">
            <div class="image"><img src="static/credit.jpg" alt=""></div>
            <div class="content">
                <h1><a href="/creditcard">Credit Card Fraud Detection</a></h1>
                <p>Our advanced algorithms detect credit card fraud in real-time. </p>
            </div>
        </div>

        <div class="card">
            <div class="image"><img src="static/email-newsletter-spam.webp" alt=""></div>
            <div class="content">
                <h1><a href="/email">Email Spam Filtering</a></h1>
                <p>Our machine learning-powered email security system identifies and quarantines spam and phishing emails to protect your inbox.</p>
            </div>
        </div>

        <div class="card">
            <div class="image"><img src="static/passw.jpg" alt=""></div>
            <div class="content">
                <h1><a href="/password">Password Strenght Checker</a></h1>
                <p>Check the strength of your passwords using a password strength checker.</p>
            </div>
        </div>

        <div class="foot">
            <div class="last">
                <pre>
 Protect Your Online
 Identity</pre> <br>
        <div class="email1">Get notified about updates <br>
            <br>
        <div><input type="text" placeholder="Email" class="bar"></div><br><div><button type="submit"> Notify me </button></div>
        </div>
            </div>
        </div>
    </main>
    <footer>
<pre>Privacy Policy     Terms of Service
    &copy; All Rights Reserved
</pre>
    </footer>
</body>

</html>