<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Features</title>
    <link rel="stylesheet" href="static/featuresstyle.css">
</head>
<body>
    <header>
        <nav>
            <div class="bars"><a href="/">Home</a></div>
            <div class="bars"><a href="/features">Features</a></div>
            <div class="bars"><a href="/teams">Our team</a></div>
            </div>
        </nav>
    </header>
    <main>
        <div class="textbox">Try Our Advanced Features <div class="text">
                <pre> Take control of your online safety and experience 
unparalleled peace of mind</pre>
            </div>
        </div>

        <div class="card">
            <div class="image"><img src="static/credit.jpg" alt=""></div>
            <div class="content">
                <h1><a href="/creditcard">Credit Card Fraud Detection</a></h1>
                <p>Our advanced algorithms detets credit card fraud in real-time. </p>
            </div>
        </div>

        <div class="card">
            <div class="image"><img src="static/email-newsletter-spam.webp" alt=""></div>
            <div class="content">
                <h1><a href="/email">Email Spam Filtering</a></h1>
                <p>Our machine learning-powered email security system identifies and quarantines spam and phishing emails to protect your inbox.</p>
            </div>
        </div>

        <div class="card">
            <div class="image"><img src="static/passw.jpg" alt=""></div>
            <div class="content">
                <h1><a href="/password">Password Strenght Checker</a></h1>
                <p>Check the strength of your passwords using a password strength checker.</p>
            </div>
        </div>
        </div>
    </main>
</body>

</html>